doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/main.css")
    title #{title}
  body
    h1 #{title}
    p Message Board
    div 
      each message in messages 
        div.message
          - const {text, user, added } = message 
          p #{text}
          p #{user}
          p Added on #{added.getUTCDate()}/#{added.getUTCMonth() + 1}/#{added.getUTCFullYear()} at #{added.getHours()}:#{added.getMinutes()}