doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
  div 
    each message in messages 
      div.messageCard
        - const {text, user, added } = message 
        p.msg #{text}
        p.user #{user}
        p.date Added on #{added.getUTCDate()}/#{added.getUTCMonth() + 1}/#{added.getUTCFullYear()} at #{added.getHours()}:#{added.getMinutes()}
  a(href="/new").addMsg Add message 