doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/main.css")
    title #{title}
  body
  header 
      h1.title  #{title}
  div 
    each message in messages 
      div.messageCard
        - const {text, user, added } = message 
        p.msg #{text}
        p.user #{user}
        p.date Added on #{added.getUTCDate()}/#{added.getUTCMonth() + 1}/#{added.getUTCFullYear()} at #{added.getHours()}:#{added.getMinutes()}
  a(href="/new").addMsg Add message 